body{
    background-color: #5393EE;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

#logoutbtn{
    background-color: #5393EE;
    border: none;
    cursor: pointer;

}

#logoutbtn:hover{
    color: white;
}

.createEmployeeform{
    width:50vw;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding: 20px 10px;
    background-color: #6ea0e2;
    border-radius: 10px;
    min-width: 250px;
}

.createEmployeeform > input, .createEmployeeform > select{
    width: 22vw;
    padding: 5px;
    min-width: 240px;
}

#createEmployeebtn{
    width: 95%;
    background-color:  #0c63dd;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#toggleform{
    background-color: #0c63dd;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#toggleform:hover{
    background-color: #01419c;
}

.profileUrl{
    width: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.profile>button{
    padding: 10px;
}
